<app-header></app-header>
<div class="how-core">
    <h2 id="h-t-wrks-title">HOW IT WORKS</h2>
    <h3 id="h-t-desc">Getting a design you love is easy at Market Place.</h3>
</div>

<div class="how-con-core  w-control">
    <div class="def-div">
        <div class="float-left def-title-div col-lg-3 col-xs-12">
            <h4 class="def-title">Buyers</h4>
        </div>
        <div class="float-right def-desc-div col-lg-9 col-xs-12">
            <p>
                Weather you need a new logo design for your new blogWeather you need a new logo design for your new blog. Weather you need a new logo design for your new blog. Weather you need a new logo design for your new blog.
            </p>
        </div>
    </div>
    <div class="clear-float"></div>
    <div id="h-h-options-div">
        <table id="h-table">
            <tr>
                <td>
                    <div class="h-options">
                        <div class="float-left h-opt-icons"><img src="../../assets/images/wdone.png"></div>
                        <div class="float-right h-opt-desc">
                            <h2>1. Find a service that you need</h2>
                            <p>
                                Seller that best suits your needs. If you have a specific question, simply send them an enquiery.
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="h-options">
                        <div class="float-left h-opt-icons"><img src="../../assets/images/wdone.png"></div>
                        <div class="float-right h-opt-desc">
                            <h2>2. Find a service that you need</h2>
                            <p>
                                Seller that best suits your needs. If you have a specific question, simply send them an enquiery.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="h-options">
                        <div class="float-left h-opt-icons"><img src="../../assets/images/wdone.png"></div>
                        <div class="float-right h-opt-desc">
                            <h2>3. Find a service that you need</h2>
                            <p>
                                Seller that best suits your needs. If you have a specific question, simply send them an enquiery.
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="h-options">
                        <div class="float-left h-opt-icons"><img src="../../assets/images/wdone.png"></div>
                        <div class="float-right h-opt-desc">
                            <h2>4. Find a service that you need</h2>
                            <p>
                                Seller that best suits your needs. If you have a specific question, simply send them an enquiery.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="def-div">
        <div class="float-left def-title-div">
            <h4 class="def-title">Sellers</h4>
        </div>
        <div class="float-right def-desc-div">
            <p>
                Weather you need a new logo design for your new blogWeather you need a new logo design for your new blog. Weather you need a new logo design for your new blog. Weather you need a new logo design for your new blog.
            </p>
        </div>
    </div>
    <div class="clear-float"></div>
    <div id="h-s-options-div">
        <table id="s-table">
            <tr>
                <td>
                    <div class="h-options">
                        <div class="float-left h-opt-icons"><img src="../../assets/images/wdone.png"></div>
                        <div class="float-right h-opt-desc">
                            <h2>1. Find a service that you need</h2>
                            <p>
                                Seller that best suits your needs. If you have a specific question, simply send them an enquiery.
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="h-options">
                        <div class="float-left h-opt-icons"><img src="../../assets/images/wdone.png"></div>
                        <div class="float-right h-opt-desc">
                            <h2>2. Find a service that you need</h2>
                            <p>
                                Seller that best suits your needs. If you have a specific question, simply send them an enquiery.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="h-options">
                        <div class="float-left h-opt-icons"><img src="../../assets/images/wdone.png"></div>
                        <div class="float-right h-opt-desc">
                            <h2>3. Find a service that you need</h2>
                            <p>
                                Seller that best suits your needs. If you have a specific question, simply send them an enquiery.
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="h-options">
                        <div class="float-left h-opt-icons"><img src="../../assets/images/wdone.png"></div>
                        <div class="float-right h-opt-desc">
                            <h2>4. Find a service that you need</h2>
                            <p>
                                Seller that best suits your needs. If you have a specific question, simply send them an enquiery.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="disc-div">
    <div class="width-desktop">
        <h3>Discover a better way to get digital projects done.</h3>
        <h5>What do you need designed?</h5>
        <div class="icon-menu-div">
            <a routerLink='/categories'><span class="menu-icons">
              <i class="fa fa-file" id="logo-design-icon" aria-hidden="true"></i>
              <h4 class="menu-icon-names">Resumes and <br>cover letters</h4>
            </span></a>
            <a routerLink='/categories'><span class="menu-icons">
              <i class="fa fa-globe" id="car-wrap-design-icon" aria-hidden="true"></i>
              <h4 class="menu-icon-names">Online Resumes</h4><div style="background-color:#5E96BF;color:white;font-size:100%;width:auto;height:auto;font-weight:400;border-radius:25px"  class="badge">*  Most popular</div>
            </span></a>
            <a routerLink='/categories'><span class="menu-icons">
              <i class="fa fa-eye" id="logo-website-icon" aria-hidden="true"></i>
              <h4 class="menu-icon-names">Visual resumes</h4>
            </span></a>
            <a routerLink='/categories'><span class="menu-icons">
              <i class="fa fa-user" id="packaging-design-icon" aria-hidden="true"></i>
              <h4 class="menu-icon-names">LinkedIn Profile</h4>
            </span></a>
            <a routerLink='/categories'><span class="menu-icons">
              <i class="fa fa-book" id="brand-identity-icon" aria-hidden="true"></i>
              <h4 class="menu-icon-names">Placeholder</h4>
            </span></a>
            <a routerLink='/categories'><span class="menu-icons">
              <i class="fa fa-anchor" id="t-shirt-icon" aria-hidden="true"></i>
              <h4 class="menu-icon-names">Placeholder</h4>
            </span></a>
        </div>
    </div>
</div>
<div class="clear-both"></div>
<app-footer></app-footer>
<!-- </div> -->