@import url('https://fonts.googleapis.com/css?family=Roboto');
.profile {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    top: 10%;
    transform: translate(0, 10%);
    color: white;
}
.pswd-div{
    position: relative;
    border:0.5px solid #ddd;
    width:100%;
    left:-10px !important;
}
.profile h2 {
    font-size: 130%;
}

.profile-about {
    background-color: #F2F4F6;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    left: 10%;
    transform: translate(5%, 0)
}

.profile-about i {
    font-size: 25px;
}

.profile-about span {
    font-size: 100%;
    font-weight: 400;
}

.pswd-text {
    border-bottom: 0.5px solid #ddd;
    height: 15vh;
}

.pswd-text2 {
    left: 10%;
    top: 50%;
    transform: translate(10%, 80%)
}

.pswd-text2 h2 {
    font-weight: bolder;
    font-size: 210%;
    color: #1F2835;
    font-family: 'Roboto', sans-serif !important;
}

.pswd-text1 {
    left: 10%;
    transform: translate(10%, 0);
}

.pswd-text1 h3 {
    font-size: 100%;
    color: #3A424D!important;
    font-weight: 700;
    /* font-family: 'Roboto', sans-serif !important; */
}

.pswd-text1 label {
    color: #3A424D!important;
    font-size: 85%;
    font-weight: 900;
    /* font-family: 'Roboto', sans-serif !important; */
}

.pswd-text1 .form-control {
    width: 40%
}

.btn-primary {
    background-color: #F25552;
    border-color: transparent;
    height: 40px;
    border-radius: 3px;
    font-size: 100%;
    font-weight: 450;
    cursor: pointer
}