<br>
<div class="container">
    <div class="row">
        <div class="sign-complete col-xs-12">
            <h3>Signup Complete!</h3>
            <p>Let's get started! Tells us about you and your shop.</p>
        </div>
    </div><br>

    <div class="row">
        <div class="col-xs-12">
            <div class="author-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter your shop name">
                    <span class="input-group-addon">Check availability</span>
                </div>
                <h2>Your mplace URL:https://mplace.com/username</h2>
            </div>
        </div>
    </div><br>

    <div class="row">
        <div class="col-xs-12 avilability-form">

            <h5>Availability*</h5>

            <select style="width:300%;height:150%;border-radius:3px;">
             <option>Choose</option>
             </select>

            <select style="width:300%;height:150%;border-radius:3px;">
                <option>Choose</option>
                </select>

        </div>
    </div><br><br>

    <div class="row">
        <div class="col-xs-12 avilability-form1">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-3 select">
                    <h5>Shop Country*</h5>
                </div>

                <div class="col-lg-9 col-md-9 col-xs-9 select3">
                    <select style="width:250%;height:150%;border-radius:3px;">
               <option>Australia</option>
               </select>
                </div>

            </div>
        </div>
    </div><br>
    <hr><br>

    <div class="row">
        <div class="col-xs-12 certy-form">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-3 select">
                    <h5>Certifications</h5>
                    <h6>Do you have any certifications?</h6>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-4 select1">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Certificated from (E.G Adobe)">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-4 select2">
                    <select style="width:100%;height:68%;border-radius:3px;">
                    <option>Year</option>
                    </select>
                </div>
            </div>
        </div>
    </div><br><br>
</div>
<app-footer></app-footer>