
.m-core {
    position: relative;
    display: block;
    /* margin-top: 11vh; */
  }
  
  #orders-title {
    position: relative;
    display: block;
    text-align: left;
    font-size: 190%;
    color: #000;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  
  #orders-title::after {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    height: 5px;
    width: 40px;
    background-color: #F9BF3B;
    color: #F9BF3B;
  }
  
  .orders-div {
    position: relative;
    display: block;
    float: right;
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 0px 20px 10px 20px;
  }

  table{
      border: 0.5px solid #dddddd;

  }
  table th{
      color: #999999;
     
  }
  
  .btn-default{
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 45%;
      color: #777777;
      cursor: pointer;
  }
  
  .pay-summary {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #F2F1EF;
  }
  
  .pay-sum-items {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    border-left: 1px solid #f2f1ef;
    flex-grow: 1;
  }
  
  .pay-ico-core {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    height: 50%;
  }
  
  .pay-sum-icons {
    font-size: 260% !important;
    color: #8DF2E3;
  }
  
  .pay-sum-core {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: row;
    height: 50%;
    width: 100%;
    padding: 4px 5px;
  }
  
  .pay-num {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    font-size: 200%;
    font-weight: bold;
    width: auto;
    padding-left: 10px;
    margin-right: 20px;
  }
  
  .pay-desc {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    padding-left: 5px;
  }
  
  .pay-sum-core h3 {
    position: relative;
    display: block;
    font-size: 120% !important;
    font-weight: bold;
    text-align: left;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .pay-sum-core h4 {
    position: relative;
    display: block;
    font-size: 100%;
    text-align: left !important;
    margin: 0 !important;
  }
  

  @media screen and (min-width:220px) and (max-width:740px) {
    .pay-summary {
      position: relative;
      display: block;
      flex-direction: row;
      width: 100%;
      height: 120px;
      }
      
       .m-core{
         height: 100%;
       }
       .container-table{
           position: relative;
           top: 65%;
           transform: translate(0,65%);
           overflow: auto;
       }
       .w-control{
         width: 310px;
       }
  }
  