<html>

<app-header></app-header><br>
<app-header1></app-header1>

<body><br>

    <div class="m-core">
        <div class="manage-orders-core w-control">
            <h2 id="orders-title">PAYMENTS</h2>
            <div class="orders-div">
                <div class="pay-summary">
                    <div class="pay-sum-items">
                        <div class="pay-ico-core">
                            <i class="fa fa-gift pay-sum-icons"></i>
                        </div>
                        <div class="pay-sum-core">
                            <div class="pay-num">8.534</div>
                            <div class="pay-desc">
                                <h3>Products Sold</h3>
                                <h4>In all Time</h4>
                            </div>
                        </div>
                    </div>
                    <div class="pay-sum-items">
                        <div class="pay-ico-core">
                            <i class="fa fa-gift pay-sum-icons"></i>
                        </div>
                        <div class="pay-sum-core">
                            <div class="pay-num">234</div>
                            <div class="pay-desc">
                                <h3>Products Sold</h3>
                                <h4>In this Month</h4>
                            </div>
                        </div>
                    </div>
                    <div class="pay-sum-items">
                        <div class="pay-ico-core">
                            <i class="fa fa-tag pay-sum-icons"></i>
                        </div>
                        <div class="pay-sum-core">
                            <div class="pay-num">$ 12.450</div>
                            <div class="pay-desc">
                                <h3>Total Sales</h3>
                                <h4>In all Time</h4>
                            </div>
                        </div>
                    </div>
                    <div class="pay-sum-items">
                        <div class="pay-ico-core">
                            <i class="fa fa-briefcase pay-sum-icons"></i>
                        </div>
                        <div class="pay-sum-core">
                            <div class="pay-num">$ 10.630</div>
                            <div class="pay-desc">
                                <h3>Total Earning</h3>
                                <h4>In all Time</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear-both"></div>

            </div>
        </div>



        <div class="container container-table w-control">
            <table border="1px" class="table">
                <tr>
                    <th>DATE</th>
                    <th>FOR</th>
                    <th>AMOUNT</th>
                </tr>

                <tr>
                    <td>Nov 17,15</td>
                    <td>Payment for gig purchase(view order)</td>
                    <td style="color:red">-$5.00</td>
                </tr>

                <tr>
                    <td>Nov 17,15</td>
                    <td>Cancelled payment refunded to shopping Balance(view order) </td>
                    <td style="color:green">$5.00</td>
                </tr>

                <tr>
                    <td>Nov 15,15</td>
                    <td>Processing fee payment(view order)</td>
                    <td style="color:red">-$0.50</td>
                </tr>

                <tr>
                    <td>Nov 15,15</td>
                    <td>Payment for gig purchase(view order)</td>
                    <td style="color:red">-$5.00</td>
                </tr>

                <tr>
                    <td>Nov 30,15</td>
                    <td>Gig purchased from revenues(view order)</td>
                    <td style="color:red">-$5.00</td>
                </tr>

                <tr>
                    <td>Nov 30,15</td>
                    <td>Gig purchased from revenues(view order)</td>
                    <td style="color:red">-$0.50</td>
                </tr>

                <tr>
                    <td>Nov 25,15</td>
                    <td>Payment for gig purchase(view order)</td>
                    <td style="color:red">-$5.00</td>
                </tr>
            </table>
            <button class="btn btn-default btn-sm">LOAD MORE</button>
        </div>

    </div>
    <div class="clear-both"></div><br><br>
    <app-footer></app-footer>
</body>

</html>