<section class="footer-section">
  <div class="footer-img">
  <div class="footer"><br>
    <div class="w-control">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-xs-12">
          <div class="footer-main-head">
            <h1>cvhatch</h1>
            <p>The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.</p>

            <h2>80% of the fortune<br> 500 use cvhatch</h2>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12">
          <div class="footer-link-head">
            <h3>Categories</h3>
            <a href="/home">Resumes</a>
            <a>Cover Letters</a>
            <a>Linkedin Makeover</a>
            <a>Selection Criteria</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-12">
          <div class="footer-link-head">
            <h3>company</h3>
            <a href="/about">About Us</a>
            <a href="/home">Our Team</a>
            <a href="/careers">Careers</a>
            <a href="/home">Security</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms">Terms of Service</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
              <div class="footer-link-head">
                <h3>resources</h3>
                <a>Blog</a>
                <a>Help Center</a>
                <a href="/how-it-works">How It Works</a>
                <a href="/feedback">Feedback</a>
                <a>Sitemap</a>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
              <div class="footer-link-head">
                <h3>Earn</h3>
                <a href="/become-an-author">Become an Author</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<div class="footer-social">
  <!-- <div class="footer-social-div"> -->
    <div class="need-help">
      <i class="fa fa-question-circle"></i>
      <span>Need help? Visit the <span class="help-center">help center</span></span>
    </div>
    <span>cvHatch Pvt Ltd. 2018</span>
     <ul>
       <li><i class="fa fa-facebook"></i></li>
       <li><i class="fa fa-twitter"></i></li>
       <li><i class="fa fa-linkedin"></i></li>
       <li> <i class="fa fa-pinterest"></i></li>
       <li><i class="fa fa-instagram"></i></li>
       
     </ul>
   
  <!-- </div> -->
</div>