<app-header></app-header>
<br>
<div class="container">
  <br>
  <div id="heading">
    Gigs

  </div>
<table class="table table-hover">
    <thead>
      <tr>
        
        <th>Title</th>
        <th>Poster</th>
        <th>Date Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="content">
      <tr *ngFor="let g of gigs">
        <td>{{g.title}}</td>
        <td>{{g.members.name}}</td>
        <td>{{g.formatted_date}}</td>
        <td><a routerLink="/edit-gig/{{g._id}}"> <b id="edit">Edit</b> </a> | <a (click)="delete_this(g)"> <b id="del">Delete</b> </a></td>
      </tr>
    </tbody>
  </table>
</div>
