<app-header></app-header>

<div class="about-container">
    <div class="a-f-vp">
        <div class="a-f-header">
            <div class="a-width-desktop w-control">
                <nav>
                    <ul>
                        <li class="selected-li" id="first-li">OUR STORY</li>
                        <li><a routerLink='/careers'>CAREERS</a></li>
                        <li>INVESTORS</li>
                        <li>MEDIA</li>
                        <li>CONTACT</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="a-f-b-p">
            <div class="a-width-desktop w-control">
                <h3>Our Story</h3>
                <h5>LiveHire is a talent technology company.<br>We build simple,powerful products to best match people's and<br> employers throughout their careers and the whole of organisation.</h5>
            </div>
        </div>
    </div>
    <div class="a-s-vp">
        <div class="a-width-desktop w-control container-fluid">
            <div>

            </div>
            <h3>Etsy is a marketplace where people around the world connect, both online and offline, to make, sell and buy unique goods.</h3>
            <p>
                The heart and soul of Etsy is our global community: the creative entreprenuers who use Etsy to sell what they make or curate, the shoppers looking for things they can't find anywhere else, manufacturers who partner with Etsy sellers to help them grow,
                and the Etsy employees who maintain and nurture our marketplace.
            </p>
        </div>
    </div>
    <div class="a-t-vp">
        <div class="a-width-desktop w-control ">
            <div class="ab-b-t ">
                <div class="ab-b-divs ">
                    <h4>2005</h4>
                    <h5>Founded</h5>
                </div>
                <div class="ab-b-divs ">
                    <h4>852</h4>
                    <h5>Emlpoyees</h5>
                </div>
                <div class="ab-b-divs ">
                    <h4>35M+</h4>
                    <h5>Items for sale</h5>
                </div>
            </div>
            <div class="ab-b-m">
                <div class="ab-b-divs">
                    <h4>1.6M</h4>
                    <h5>Active Sellers</h5>
                </div>
                <div class="ab-b-divs">
                    <h4>25M</h4>
                    <h5>Active buyers</h5>
                </div>
                <div class="ab-b-divs">
                    <h4>$2.39B</h4>
                    <h5>Annual gross merchandise sales in 2015</h5>
                </div>
            </div>
            <div class="ab-b-b">
                <div class="ab-b-divs">
                    <h5>Headquartered in the</h5>
                    <h4>DUMBO</h4>
                    <h5>neighborhood of</h5>
                    <h4>Brooklyn,NY</h4>
                </div>
                <div class="ab-b-divs">
                    <h5>With additional offices in</h5>
                    <ul>
                        <li>Berlin,Germany</li>
                        <li>Dublin, Ireland</li>
                        <li>Hudson,NY</li>
                        <li>London, United Kingdom</li>
                        <li>Melbourne,Australia</li>
                        <li>Paris, France</li>
                        <li>San Francisco, CA</li>
                        <li>Tokyo, Japan</li>
                        <li>Toronto, Canada</li>
                    </ul>
                    <h6>As of March 31,2016</h6>
                </div>
                <div class="ab-b-divs">
                    <h5>And people buying or selling from</h5>
                    <h4>Nearly every country in the world</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="a-t-f-vp">
        <div class="a-width-desktop container">
            <h3 id="m-t-head">Meet the team</h3>
            <h4 class="h4">We are colourful, creative and diverse team of thinkers,builders and innovators.</h4>
            <a>
                <h5 class="h5">Learn More about working at LiveHire <i class="fa fa-angle-right" aria-hidden="true"></i></h5>
            </a>
            <div class="a-pics-div row">
                <div class="a-pic-div col-lg-3 col-md-3 col-xs-12">
                    <div class="a-pic">

                    </div>
                    <h3>Name</h3>
                    <h4>FOUNDER AND MANAGING DIRECTOR</h4>
                </div>
                <div class="a-pic-div col-lg-3 col-md-3 col-xs-12">
                    <div class="a-pic">

                    </div>
                    <h3>Name</h3>
                    <h4>DESIGNATION</h4>
                </div>
                <div class="a-pic-div col-lg-3 col-md-3 col-xs-12">
                    <div class="a-pic">

                    </div>
                    <h3>Name</h3>
                    <h4>DESIGNATION</h4>
                </div>
                <div class="a-pic-div col-lg-3 col-md-3 col-xs-12">
                    <div class="a-pic">

                    </div>
                    <h3>Name</h3>
                    <h4>DESIGNATION</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="a-width-desktop w-control">
        <h2 class="abt-faq">FAQ</h2>
        <div class="row faq1">


            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <h3 class="bold">How did Etsy get it's name?</h3>
                        <p>
                            The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <h3 class="bold">How did Etsy get it's name?</h3>
                        <p>
                            The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <h3 class="bold">How did Etsy get it's name?</h3>
                        <p>
                            The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12">
                <h3 class="bold">How does Etsy make a difference?</h3>
                <p>
                    The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks
                    you where the name came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we
                    do.
                </p>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12">
                <h3 class="bold">Can seller make a living on Etsy?</h3>
                <p>
                    The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks
                    you where the name came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we
                    do.If someone asks you where the name came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something
                    up. That's what we do.
                </p>
            </div>
        </div>

        <!-- <div class="a-faq-div">
      <h2>FAQ</h2>
      <div class="a-width-desktop w-control  container-fluid">
        <div class="faq-divs">
          <div class="row">
          <div class="faq  col-xs-12">
            <h3 class="bold">How did Etsy get it's name?</h3>
            <p>
              The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where  the name  came from, just make something up. That's what we do.
            </p>
          </div></div>
          <div class="row">
              <div class="faq col-xs-12">
            <h3 class="bold">How did Etsy get it's name?</h3>
            <p>
              The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where  the name  came from, just make something up. That's what we do.
            </p>
          </div></div>
          <div class="row">
              <div class="faq col-xs-12">
            <h3 class="bold">How did Etsy get it's name?</h3>
            <p>
              The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where  the name  came from, just make something up. That's what we do.
            </p>
          </div></div>
        </div>
        <div class="faq-divs ">
          <div class="faq">
            <h3 class="bold">How does Etsy make a difference?</h3>
            <p>
              The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where  the name  came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where  the name  came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where  the name  came from, just make something up. That's what we do.
            </p>
          </div>
        </div>
        <div class="faq-divs ">
          <div class="faq">
            <h3 class="bold">Can seller make a living on Etsy?</h3>
            <p>
              The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where  the name  came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where  the name  came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where  the name  came from, just make something up. That's what we do.If someone asks you where  the name  came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where  the name  came from, just make something up. That's what we do.
            </p>
          </div>
        </div>
      </div>
    </div> -->
    </div>
</div>
<app-footer></app-footer>