#heading{
    background: rgb(115, 170, 113);
    color:white;
    padding: 2px;

}
#serr{
    color: red;
}
.wrapp{
   margin-top: 100px;
}
a{
    background: green;
    padding: 5px;
    color:white;
    cursor: pointer;
}