<app-header></app-header>

<div class="about-container">
    <div class="a-f-vp">
        <div class="a-f-header">
            <div class="a-width-desktop w-control">
                <nav>
                    <ul>
                        <li class="selected-li" id="first-li">OUR STORY</li>
                        <li><a routerLink='/careers'>CAREERS</a></li>
                        <li>INVESTORS</li>
                        <li>MEDIA</li>
                        <li>CONTACT</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="a-f-b-p">
            <div class="a-width-desktop w-control">
                <h3>Press Coverage</h3>

            </div>
        </div>
    </div><br><br><br>


    <div class="w-control">
        <div class="row">
            <div class="col-lg-3 col-md-3s col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="press">

                            <img src="../../assets/images/help-bck.jpg" class="img-fluid" width="270px" height="200px">
                            <div class="padding">
                                <p>Jun 15 - Stephen Withers</p>
                                <h4>Canva now does presentations</h4>
                                <img src="../../assets/images/help-bck.jpg" class="img-fluid" width="80px" height="40px">
                            </div><br><br>
                        </div>

                    </div>
                </div><br><br>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="press1">
                            <div class="padding1">
                                <p>May 16 - Liz Leigh</p>
                                <h4>Canva announces launch of platform in six new languages to reach a billion potential users worldwide</h4>
                                <h3 style="color:#EA7245">STARTUP DAILY</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="press2">
                            <div class="padding">
                                <p>May 25 - The Australian</p>
                                <h5>Graphic design start-up in global expansion</h5>
                                <h3 style="color:#EA7245">The Australian</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="press">
                            <img src="../../assets/images/help-bck.jpg" class="img-fluid" width="270px" height="200px">
                            <div class="padding">
                                <p>May 18 - Broede Carmody</p>
                                <h4>Canva rolls out ambitious international growth strategy after cracking 10 million users</h4>
                                <img src="../../assets/images/help-bck.jpg" class="img-fluid" width="80px" height="40px">
                            </div><br><br><br>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="press1">
                            <div class="padding1">
                                <p>May 16 - Liz Leigh</p>
                                <h4>Canva announces launch of platform in six new languages to reach a billion potential users worldwide</h4>
                                <h3 style="color:#EA7245">STARTUP DAILY</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="press">
                            <img src="../../assets/images/help-bck.jpg" class="img-fluid" width="270px" height="200px">
                            <div class="padding">
                                <p>Jun 15 - Stephen Withers</p>
                                <h5>Canva now does presentations</h5>
                                <img src="../../assets/images/paypal-logo.png" class="img-fluid" width="80px" height="30px">
                            </div><br><br>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="press1">
                            <div class="padding">
                                <p>May 25 - The Australian</p>
                                <h5>Graphic design start-up in global expansion</h5>
                                <h3 style="color:#EA7245">The Australian</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="press">
                            <img src="../../assets/images/help-bck.jpg" class="img-fluid" width="270px" height="200px">
                            <div class="padding">
                                <p>Jun 15 - Stephen Withers</p>
                                <h5>Canva now does presentations</h5>
                                <img src="../../assets/images/help-bck.jpg" class="img-fluid" width="80px" height="40px">
                            </div><br><br>

                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>



        <button class="btn btn-inverse">LOAD MORE</button>
    </div>

</div>