<app-header></app-header>
<div class="about-container">
    <div class="a-f-vp">
        <div class="a-f-header">
            <div class="a-width-desktop w-control">
                <nav>
                    <ul>
                        <li><a routerLink='/about'>OUR STORY</a></li>
                        <li class="selected-li"><a routerLink='/careers'>CAREERS</a></li>
                        <li>INVESTORS</li>
                        <li>MEDIA</li>
                        <li>CONTACT</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="a-f-b-p">
            <div class="a-width-desktop w-control">
                <h3>Join the team</h3>
                <div class="j-btns">
                    <button class="jbtn">Sydney Careers</button>
                    <button class="jbtn">Manila Careers</button>
                </div>
                <h5>"Working with world-class engineers building a product from early stages into global force in both incredibly rare and incredibly rewarding."<br>-Dave Hearnden, Head Engineer</h5>
            </div>
        </div>
    </div>
    <div class="main-c-container">
        <div class="a-width-desktop w-control">
            <div class="career-tabs">
                <div class="career-tab">
                    <h5>GROWTH AND MARKETING</h5>
                    <h3>Growth Marketer</h3>
                    <p>Are you a Growth Marketer who would love to work with true blue high growth tech firm? Do you uearn for the excitement of being in a consumer focused startup that is experiencing massive growth? Then we would love to hear from you
                        ! </p>
                    <hr>
                    <div class="btn-con">
                        <button class="s-dets-btn">See Details</button>
                        <button class="ap-now-btn">Apply Now</button>
                    </div>
                </div>
                <div class="career-tab">
                    <h5>GROWTH AND MARKETING</h5>
                    <h3>Growth Marketer</h3>
                    <p>Are you a Growth Marketer who would love to work with true blue high growth tech firm? Do you uearn for the excitement of being in a consumer focused startup that is experiencing massive growth? Then we would love to hear from you
                        ! </p>
                    <hr>
                    <div class="btn-con">
                        <button class="s-dets-btn">See Details</button>
                        <button class="ap-now-btn">Apply Now</button>
                    </div>
                </div>
                <div class="career-tab">
                    <h5>GROWTH AND MARKETING</h5>
                    <h3>Growth Marketer</h3>
                    <p>Are you a Growth Marketer who would love to work with true blue high growth tech firm? Do you uearn for the excitement of being in a consumer focused startup that is experiencing massive growth? Then we would love to hear from you
                        ! </p>
                    <hr>
                    <div class="btn-con">
                        <button class="s-dets-btn">See Details</button>
                        <button class="ap-now-btn">Apply Now</button>
                    </div>
                </div>
            </div>
        </div><br><br>
        <div style="text-align:center">
            <p>Can't see what you are looking for?</p>
            <p>We always want to hear from eager applications. Send your resume to <a href="#">jobs@canva.com</a></p>
        </div>
    </div>
</div>
<app-footer></app-footer>