ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


li {
    float: left;
    position:relative;
}
a:link, a:visited {
    display: block;
    width: 150px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    text-transform: capitalize;
}

a:hover, a:active {
    background-color: #7A991A;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 5px;
    border: none;
    cursor: pointer;
}

.dropd {
    position: relative;
}

.dropd-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropd-menu li a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    font-size:10px;
}

.dropd-menu li:hover {background-color: #f1f1f1}

.dropd:hover .dropd-menu {
    display: block;
}

