<app-header></app-header>
<br>
<div class="container">
    <div id="heading">
        Add Category
      </div> <br>
  <div class="form-group">
      category_name
      <input type="text" class="form-control" [(ngModel)]="category_name">
    </div>
    <div class="form-group">
        seo_name
        <input type="text" class="form-control" [(ngModel)]="seo">
      </div>
      <div class="form-group">
          description
          <input type="text" class="form-control" [(ngModel)]="desc">
        </div>
        <div class="form-group">
            page_title
            <input type="text" class="form-control" [(ngModel)]="page_title_name" >
          </div>
          <div class="form-group">
              meta_description
              <input type="text" class="form-control" [(ngModel)]="meta_desc">
            </div>
            <div class="form-group">
                meta_keywords
                <input type="text" class="form-control" [(ngModel)]="meta_key" >
              </div>
              <span id="serr"></span>
              <a  class="btn btn-block btn-success" (click)="submit_this()">Submit</a>
              <br><br>
</div>
