<!-- header2 -->
<header class="nav2">
    <nav class="navbar navbar-default">
        <div class="w-control">
        <ul class="nav-ul">
                <li routerLink='/dashboard'>Dashboard</li>

                <li class="dropdown">
                    
              Buying&nbsp;<i class="fa fa-chevron-down"></i>
         
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" routerLink='/manage-orders'>Manage Orders</a>

                    </ul>
                </li>
                <li class="dropdown">
                    
                Selling&nbsp;<i class="fa fa-chevron-down"></i>
            
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" routerLink='/manage-sales'>Manage Sales</a>
                        <a class="dropdown-item" href="/payments">Payments/Revenue</a>
                        <a class="dropdown-item" href="/withdrawals">Withdrawls</a>
                        <a class="dropdown-item" routerLink='/my-gigs'>My Gigs</a>
                    </ul>
                </li>
                <li routerLink="/feedback">My Feedback</li>
                <li routerLink="/inbox">Inbox</li>
                <li routerLink="/settings/profile">Settings</li>
            </ul>
        </div>
    </nav>
</header>