.seller-p {
    text-transform: uppercase;
    font-size: 80%;
    font-weight: bold;
    color: white;
    margin: 0 !important;
    top: 0%;
    transform: translate(-16%, 0%)
}

.table-space {
    left: -20%;
    transform: translate(-30%, 0)
}


/* .gig-h1{
width:100px;
} */

.featured-gigs-div a {
    margin: 0 !important;
    margin-top: 30px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}


/* Extra Small Devices, .visible-xs-* */

body {
    background-color: #fff !important;
    overflow: hidden
}


/* gig */

.seller-gig-container {
    position: relative;
    display: block;
    min-height: 10vh;
    height: auto;
    width: 85%;
    left:17%;
}

.seller-gigs-row {
    position: relative;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 330px;
    grid-gap: 20px;
    margin-top: 43px;
    left:-17%;
}

.seller-gigs-row .gig {
    position: relative;
    height: 330px;
    width: 250px;
    border: 0.5px solid #ddd;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* overflow: hidden */
}

.gig-img {
    background: url("../../assets/images/gig.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60%;
    width: 100%;
}

.gig-text-div {
    height: 40%;
}

.gig-text {
    margin: 10px;
    word-break: break-all;
}

.gig h1 {
    font-size: 90%;
    font-weight: 550;
    font-family: 'Roboto', sans-serif !important;
    /* line-break: normal; */
    line-height: 1;
    white-space: normal !important;
    /* word-break:keep-all */
    height: 30px;
}

.gig h3 {
    font-size: 70%;
    font-weight: normal;
    font-family: 'Roboto', sans-serif !important;
    color: #999;
    height: 10px;
}

.gig .stars {
    height: 20px;
}

.price {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.price p {
    font-size: 70%;
    color: #999;
    font-family: 'Roboto', sans-serif !important;
}

#price-com {
    font-size: 70%;
    font-family: 'Roboto', sans-serif !important;
    color: #999;
    font-weight: normal;
}

.p2 p {
    font-size: 60%;
    text-transform: uppercase;
}

.price #price-val {
    font-size: 60%;
    text-transform: uppercase;
    /* float: right;
  top: -10%;
  transform: translate(20%,-20%) */
}

.price span {
    font-size: 140%;
    color: green;
    font-weight: bold;
}

#designation {
    background-color: #333333;
    color: white;
    font-size: 38%;
    width: auto;
    height: 10%;
    font-weight: 500
}

#seller-p {
    font-size: 80%;
    font-family: 'Roboto', sans-serif !important;
    color: #333333;
    height: auto;
    min-height: 30px;
    overflow:hidden
}

#jobs-done {
    font-weight: 500;
    color: #333;
    font-family: 'Roboto', sans-serif !important;
    font-size: 90%;
}
#d-dark-back {
    z-index: 200;
    position: fixed;
    display: flex;
    display: -webkit-flex;
    display: none;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.auth-rep {
    position: relative;
    display: block;
    height: auto;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    overflow: hidden;
}

.auth-rep h3 {
    font-size: 130%;
    width: 95%;
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.auth-rep hr {
    width: 95%;
    background-color: #ddd;
    color: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rep-dets {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 95%;
}

.like-ico {
    width: 20%;
    font-size: 150%;
}

.perc {
    width: 20%;
    font-size: 160%;
    font-weight: bold;
}

.rec-rat {
    float: right;
    width: 58%;
    text-align: left;
    font-size: 70% !important;
    padding-left: 30px;
}

.rec-rat .br-theme-css-stars .br-widget {
    position: absolute;
    top: 4px;
    height: auto;
    margin: 0;
    padding: 0;
}

.rec-rat .br-theme-css-stars .br-widget a {
    height: 20px;
    width: 10px;
}

.rec-rat .br-theme-css-stars .br-widget a:after {
    font-size: 70%;
}

#read-cust-rev-btn {
    width: 95%;
    height: 40px;
    /*background-color: #82B541;*/
    background-color: #4F5C59;
    color: #fff;
    font-size: 80%;
    margin-top: 20px;
    /*font-weight: bold;*/
    border: none;
    border-radius: 3px;
}

#read-cust-rev-btn:hover {
    /*background-color: #6D9837;*/
    background-color: #272e2c;
}

.s-t-r-div .br-theme-css-stars .br-widget {
    display: inline-block;
    /*margin-top:-20px;*/
    height: auto;
    margin: 0;
    padding: 0;
}

.s-t-r-div .br-theme-css-stars .br-widget a {
    display: inline-block;
    height: 20px;
    width: 10px;
}

.s-t-r-div .br-theme-css-stars .br-widget a:after {
    position: absolute;
    top: 2px;
    font-size: 75%;
}


/* Large Devices, .visible-lg-* */

body {
    overflow: scroll;
}

.custom-order-div-back {
    z-index: 1000;
    position: fixed;
    display: flex;
    display: -webkit-flex;
    display: none;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-order-core {
    position: relative;
    display: block;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    width: 50vw;
    height: 60vh;
    border-radius: 4px;
}

.custom-order-req {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    height: 15%;
    width: 100%;
    margin: 0 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f5f5f1;
    border-bottom: 1px solid #dfe1e1;
    vertical-align: middle;
}

#cust-order-head {
    position: relative;
    font-size: 130%;
    color: #333;
    top:10%;    
}
.order-hr{
    width: 100%;
    border: 0.5px solid #ddd;
}

#custom-order-close-btn {
    position: absolute;
    display: inline-block;
    top: 4%;
    left: 96%;
    cursor: pointer;
}

.custom-order-main {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 75%;
    margin: 0 auto;
    text-align: left !important;
}
.fa-calendar{
    font-size: 130%;
    color: #999;
    position: relative;
    left: -10%;
}
.fa-paperclip{
    font-size: 130%;
}

.cust-words {
    color: #8f8f8f;
    font-size: 90%;
    margin: 4px 0;
    font-family: 'Lato', sans-serif;
}

#custom-order-desc {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    resize: none;
    border: 1px solid #cccbcb;
    border-radius: 2px;
}
.optional-text{
    color:rgba(0,0,0,0.4);
    font-size:80%;
}
#custom-order-date {
    border-radius: 3px;
    border: 1px solid #cccbcb;
    height: 35px;
    width: 250px;
    padding-left: 5px;  
}
.date-picker {
    border-radius: 3px;
    border: none;
    height: 35px;
    width: 250px;

}
#custom-order-file {
    display: none;
}
.file-upload{
    border-radius: 3px;
    border: 1px solid #ddd;
    width: 120px;
    text-align: center;
    line-height: 2.2;
    
    vertical-align: middle;
    height: 35px;
    font-size: 90%;
    
}
.file-upload span{
    cursor:pointer !important;
    font-weight: 550;
}
.order-req-display{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: relative;
    flex-direction: row;
}
.max-size-p{
    font-size: 80%;
    color: #666;
    position: relative;
    top: 50%;
    transform: translate(0,40%)
}
.order-service-div{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
    width: 100%
}

.cust-submit-div {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    height: 15%;
    width: 100%;
    background-color: #f1fcfc;
    border-top: 1px solid #dfe1e1;
    text-align: right;
    padding-right: 25px;
}

#cust-submit {
    position: relative;
    background-color: #F85852;
    color: #fff;
    height: 55%;
    width: 35%;
    border-radius: 2px;
    border: 1px solid #F85852;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.confirm-order {
    position: relative;
    display: none;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    width: 50vw;
    height: 60vh;
    border-radius: 4px;
}
.confirm-order-text{
    position: relative;
    text-align: center;
    vertical-align: middle;
    top:25%;
}
.req-confirm-text{
    font-size: 150%;
    font-weight: 550;
}
.yes,.cancel{
    border-radius: 3px;
    width: 70px;
    text-align: center;
    color: #fff;
    font-size: 90%;
    font-weight: 500;
}
.yes{
    background-color: green;
    border-color: green;
    cursor: pointer;
}
.cancel{
    background-color: #F25552;
    border-color: #F25552;
    cursor: pointer;
}
.confirm-submit-div {
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    height: 15%;
    width: 100%;
    background-color: #f1fcfc;
    border-top: 1px solid #dfe1e1;
    text-align: right;
    padding-right: 25px;
    top: 50%;
}

.seller-cover-pic {
    position: absolute;
    display: inline-block;
    height: 40vh;
    width: 100vw;
    /* margin-top: 11vh; */
    background-image: url("../../assets/images/ph.jpg");
    color: #fff;
    text-align: center;
    background-size: cover;
}

.seller-cover-pic h2 {
    font-size: 230%;
    font-weight: bold;
    margin-bottom: 10px;
}

.seller-cover-pic h4 {
    text-align: center !important;
    margin-top: 10px;
}

.seller-cover-pic br {
    margin-bottom: 10px;
}

#reviews-num {
    font-size: 85% !important;
    font-weight: normal !important;
}

.seller-core-container {
    z-index: 1;
    position: relative;
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36vh;
    margin-bottom: 30px;
    background-color: #fff;
    /* border:1px solid #efefef; */
    white-space: normal;
}
.seller-icons{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    flex-direction: row;
    width: 60%;
    height: 40px;
    left: 60%;
    transform: translate(-50%,0)
}
.seller-icons img{
    cursor: pointer;
}
.seller-profile-pic-main {
    z-index: 200;
    position: relative;
    height: 100px;
    width: 100px;
    top: -70px;
    left: 4.2vw;
    background-color: blue;
    border: 3px solid #fff;
    border-radius: 100%;
}

.seller-pic {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.seller-left {
    position: relative;
    float: left;
    height: 300px;
    font-size: 90%;
    line-height: 2;
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}

.seller-profile-icons {
    position: absolute;
    width: 90%;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    top: 34%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.seller-middle {
    position: relative;
    height: 300px;
    float: left;
    width: 50%;
    text-align: left;
}

#s-middle-bottom {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0 !important;
    overflow: hidden;
    height: 80px;
}

#s-middle-bottom table,
#s-middle-bottom table tbody,
#s-middle-bottom table tr {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
}

#s-middle-bottom td {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 32%;
    height: 90%;
    /* border-right: 1px solid #ddd; */
}

#s-middle-bottom td::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 1px;
    color: #efefef;
    background-color: #CBCBCB;
}

#s-middle-bottom td:last-child:after {
    display: none;
}

#no-b {
    border-right: none !important;
}

.s-m-b-all {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 60%;
    color: rgba(0, 0, 0, 0.8);
}

.s-m-b-num {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
    line-height: 1;
    margin-bottom: 0px;
    font-size: 180%;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold
}
.seller-top-rat{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: row;
    font-size: 80%;
    color: #666 !important;
    width: 100%;

}

.s-t-r-div {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: column;
    text-align: left !important;
}

.seller-right {
    position: relative;
    /* display: inline-block; */
    background-color: #f7f7f7;
    height: 300px;
    float: left;
    width: 25%;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

#cost-value {
    color: #000;
    font-size: 170%;
}

.seller-left table {
    position: relative;
    display: inline-block;
}

.seller-left td {
    padding: 3px;
    font-size: 106%;
}

.seller-middle h2 {
    position: relative;
    display: block;
    font-size: 160%;
    font-weight: bold;
    margin: 40px 20px 20px 30px;
}

.seller-middle h3 {
    position: relative;
    display: block;
    font-size: 130%;
    margin: 0px 20px 20px 30px;
}

.seller-middle p {
    position: relative;
    display: block;
    margin: 0px 20px 10px 30px;
    line-height: 1.2;
    font-size: 93% !important;
}

#sh-more {
    color: #9FCDBD;
    cursor: pointer;
}

#ab-sh-more-div {
    z-index: 1001 !important;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    display: none;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    font-size: 120%;
    line-height: 1.6;
}

#ab-sh-more-div p {
    position: relative;
    display: block;
}

#ab-close-btn {
    position: absolute;
    display: inline-block;
    top: 2%;
    left: 95%;
    cursor: pointer;
    font-size: 130%;
    color: rgba(0, 0, 0, 0.8);
}

.seller-right table {
    position: relative;
    display: inline-block;
    text-align: center;
    table-layout: fixed;
    width: 90%;
    overflow: hidden;
}

#s-r-table2 tbody,
.seller-right table tbody,
.seller-right table tr {
    position: relative;
    display: block;
    width: 100%;
}

#s-r-table2 {
    position: relative;
    display: inline-block;
    left: 10%;
    top: 4%;
    text-align: center;
    table-layout: fixed;
    width: 20%;
}

#s-r-table2 td {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 10px 0px;
    font-size: 90% !important;
    text-align: left;
    white-space: nowrap;
}

#s-r-table2 .center {
    position: relative;
    display: inline-block;
}

.seller-right table td {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.seller-right h3 {
    text-align: left;
    font-size: 105%;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}

.tags {
    position: relative;
    /* display: inline-block; */
    float: left;
    margin: 4px 10px 5px 0px;
    padding: 4px 8px;
    background-color: #efefef;
    border-radius: 2px;
    font-size: 90%;
}

.s-r2-title {
    font-size: 110%;
    color: #000;
}

.cbb {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#contact-me-btn {
    position: relative;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    height: 40px;
    width: 80%;
    margin: 30px 15px 20px 15px;
    /* background-color: #82B541; */
    background-color: #ec5252;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 90%;
    transition: all 0.1s;
    left: -10%;
}

#contact-me-btn:hover {
    cursor: pointer;
    background-color: #992337;
    ;
}

#seller-cost {
    position: relative;
    display: inline-block;
    margin: 15px 20px;
    font-size: 110%;
}

.t-m {
    position: relative;
    display: inline-block;
    margin: 10px 10px 10px 20px;
    font-size: 110%;
}

.myservices-div {
    position: relative;
    display: block;
    height: auto;
    margin: 0 auto 10px auto;
    padding-bottom: 20px;
    overflow: hidden;
}

.rev-head {
    text-align: left;
}

.myservices-div h2,
.rev-head {
    position: relative;
    display: block;
    font-size: 140%;
    font-weight: 600;
}

.myservices-div h2::after,
.rev-head::after {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 40px;
    top: 130%;
    left: 0;
    background-color: #f9bf3b;
}

.ser-left {
    position: relative;
    height: auto;
    width: 24%;
    margin-right: 0% !important;
    margin-top: 30px;
    float: left;
    padding: 5px;
    overflow: hidden;
}

.ser-cats {
    position: relative;
    display: inline-block;
    height: auto;
    background-color: #fff;
    border: 1px solid #efefef;
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
}

.ser-ul {
    position: relative;
    display: block;
    background-color: #fff;
}

#ser-ul li {
    position: relative;
    display: block;
    min-height: 40px;
    line-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: #777;
    cursor: pointer;
    font-size: 100%;
}

#ser-ul li:first-child {
    margin-top: 5px;
}

#ser-ul .li:hover {
    background-color: #ddd;
}

.li span {
    color: #9480F6
}

.float-right {
    color: #666;
}

#ser-ul li button {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 2px;
}

#ser-ul .np-btn {
    padding-left: 0;
    padding-right: 0;
}

#req-custom-order {
    background-color: #F25552;
    color: #fff;
    line-height: 0
}

#req-custom-order:hover {
    background-color: #F85852;
}
#contact-shop-owner-btn {
    background-color: #fff;
    color: #666;
    line-height: 0
}

.ser-selected {
    background-color: #ddd;
}

.gigs-div {
    position: relative;
    display: inline-flex !important;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 74% !important;
    height: auto;
    min-height: 100px;
    float: right !important;
}

.rev-parent {
    position: relative;
    display: block;
    text-align: center;
    width: 980px;
    margin: 0 auto;
    left: 0 !important;
    transform: translate(-7%, 0)
}

#rev-head {
    position: relative;
    float: left;
    text-align: left;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.rev-rat img {
    width:18px;
    height: 18px;
    top:30%;
    transform: translate(0,68%);
}
#rev-head::after {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 40px;
    top: 120%;
    left: 0;
    background-color: #f9bf3b;
}

.reviews-div {
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    left: 3%;
    /*margin-left: 5vw;*/
    white-space: nowrap !important;
}

.seller-profile-pic {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 15px 5px 0px;
    float: left;
    overflow: hidden;
}

.seller-review {
    position: relative;
    display: inline-block;
    margin: 5px 0px 5px 0px;
}

.review-t-d-left {
    position: relative;
    height: 80px;
    width: 33.3%;
    float: left;
}

.review-t-d-left .center,
.review-t-d-center .center,
.review-t-d-right .center {
    white-space: nowrap !important;
}

.review-t-d-center {
    position: relative;
    height: 80px;
    width: 33.3%;
    float: left;
}

.review-t-d-right {
    position: relative;
    height: 80px;
    width: 33.3%;
    float: right;
}

.border-bottom-tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.n-p-t {
    padding: 0 !important;
}

#s-r-line {
    position: relative;
    display: inline-block;
    width: 18vw;
    color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.reviews-div h2 {
    text-align: left !important;
}

.no-details {
    position: relative;
    display: inline-flex;
    display: inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin: 2px 0% !important;
    width: 100%;
    height: 60%;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width:220px) and (max-width:740px) {
    .seller-left {
        position: relative;
        line-height: 2;
        width: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        text-align: center;
    }
    .seller-middle {
        position: relative;
        height: 300px;
        width: 100%;
    }
    .seller-middle p {
        position: relative;
        display: block;
        line-height: 1.2;
        font-size: 93% !important;
    }
    .s-m-b-all {
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
        color: rgba(0, 0, 0, 0.8);
    }
    .s-m-b-num {
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
        line-height: 1;
        margin-bottom: 0px;
        font-size: 180%;
        color: rgba(0, 0, 0, 0.7);
        font-weight: bold
    }
    .ser-left {
        position: relative;
        height: auto;
        width: 30%;
    }
    .gigs-div {
        position: relative;
        display: block;
        left: 5%;
        width: 100% !important;
        height: auto;
        min-height: 100px;
    }
    #main-reviews-table #main-rating-div {
        position: relative;
        text-align: center;
        width: 100%;
        white-space: normal;
    }
    #contact-me-btn {
        position: relative;
        height: 40px;
        width: 100%;
        margin: 30px 15px 20px 15px;
        /* background-color: #82B541; */
        background-color: #ec5252;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 90%;
        transition: all 0.1s;
    }
    .seller-right {
        width: 100%;
    }
    .seller-core-container .w-control {
        width: 330px;
    }
    .w-control {
        width: 1090px;
    }
}