<app-header></app-header>
<br>
<div class="container">
  <br>
    <div id="heading">
      Requests
  
    </div>
  <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Buyer Request</th>
          <th>Buyer</th>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of custom_orders let i = index" >
          <td>{{i+1}}</td>
       <td>{{c.order_description}}</td>
       <td>{{c.username}}</td> 
       
  <td> <a routerLink="/edit-request/{{c._id}}"> <b id="edit">Edit</b> </a> | <a (click)="delete_this(c)"> <b id="del">Delete</b> </a></td>
        </tr>
      </tbody>
    </table>
  </div>
  
