<app-header></app-header>
<br>
<div class="container">
  <br>
  <div id="heading">
    Edit-Admnistrator
  </div><br>
  <div class="form-group">
    UserName:
    <input type="text" class="form-control" [(ngModel)]="user_name" placeholder="Enter the name">
</div>
  <div class="form-group">
      Email-Address:
      <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter Email-Address">
  </div>
  <span id="serr"></span>
  <a (click)="edit_this()" class="btn btn-success btn-block">Sign-Up</a>
  </div>

