<app-header></app-header>
<div class="b-a-con">
    <div class="top-img">
        <h2>Power to the authors!
            </h2>
        <p>Welcome to the Cvhatch built to support amazing
                authors like you.
            </p>
        <!-- <span *ngIf="authService.loggedIn() == true">
        <button id="open-shop" routerLink="/create-gig">Open a shop</button>
      </span> -->
        <span>
        <!-- <button id="open-shop" (click)="app.showBackSignUp(true)">Open a shop</button> -->
        <button id="open-shop" (click)="open_shop()">Open a shop</button>
      </span>
    </div>
    <div class="dir-div-core">
        <table>
            <tr>
                <td>
                    <div class="dirs">
                        <div class="dir-img float-left">
                            <img src="../../assets/img/find-img.png">
                        </div>
                        <div class="dir-desc">
                            <h3>No membership fees, ever  </h3>
                            <p>We want our writers to earn as much as possible, so we will never ask you to pay any membership fees. </p>
                        </div>
                        <div class="vr"></div>
                    </div>
                </td>
                <td>
                    <div class="dirs">
                        <div class="dir-img float-left">
                            <img src="../../assets/img/find-img.png">
                        </div>
                        <div class="dir-desc">
                            <h3>Secure and regular payment </h3>
                            <p>
                                    Payments are made quickly, conveniently, and securely to a PayPal account of your choice.
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dirs">
                        <div class="dir-img float-left">
                            <img src="../../assets/img/find-img.png">
                        </div>
                        <div class="dir-desc">
                            <h3>Network of 1 million members</h3>
                            <p>Creative market is a platform to get your products in front of over 1 million members wherever they are.</p>
                        </div>
                        <div class="vr"></div>
                    </div>
                </td>
                <td>
                    <div class="dirs">
                        <div class="dir-img float-left">
                            <img src="../../assets/img/find-img.png">
                        </div>
                        <div class="dir-desc">
                            <h3>Network of 1 million members</h3>
                            <p>Creative market is a platform to get your products in front of over 1 million members wherever they are.</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="l-dirs">
                        <div class="dir-img float-left">
                            <img src="../../assets/img/find-img.png">
                        </div>
                        <div class="dir-desc">
                            <h3>Network of 1 million members</h3>
                            <p>Creative market is a platform to get your products in front of over 1 million members wherever they are.</p>
                        </div>
                        <div class="vr"></div>
                    </div>
                </td>
                <td>
                    <div class="l-dirs">
                        <div class="dir-img float-left">
                            <img src="../../assets/img/find-img.png">
                        </div>
                        <div class="dir-desc">
                            <h3>Network of 1 million members</h3>
                            <p>Creative market is a platform to get your products in front of over 1 million members wherever they are.</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="sel-dets">
        <h6>Start selling for next to nothing.</h6>
        <div class="sel-c-det">
            <h3>AU$0.27*</h3>
            <h6>LISTING FEE</h6>
        </div>
        <h5>
            Listings are active for four months or until they sell. Once purchased, there is a small commission fee and a standard payment processing fee.
        </h5>
        <div class="tran-c">
            <span class="tran-fee"><h4>3.5%</h4><h6>TRANSACTION FEE</h6></span>
            <span class="pp-c"><h4>3-4%+<span id="bs">AU$O.25</span></h4>
            <h6>PAYMENT PROCESSING</h6>
            </span>
        </div>
        <div class="prpr">
            We process payments with Direct Checkout, our secure SSL-encrypted payments platform and have security specialistsand fraud detection systems to protect you and your buyers 24/7.
        </div>
    </div>
    <div id="designer-stories-core">
        <h2 class="s-headers">Designer Stories</h2>
        <h4>Our community of creators share their stories about how creative market helps them spen more time doing what they love.
        </h4>
        <div id="youtube-vid">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/9mdJV5-eias" frameborder="0" allowfullscreen></iframe>
        </div>
        <hr>
        <h6>Sound Good ? Join our community of shop owners today.</h6>
        <button id="t-open-shop"  (click)="open_shop()">Open a shop</button>
    </div>
    <div class="a-faq-div">
        <h2 class="s-headers">Frequently asked questions</h2>
        <h3 class="h3">Here are few questions about selling on Market place</h3>
        <div class="a-width-desktop">
            <div class="faq-divs">
                <div class="faq">
                    <h3 class="bold">Can seller make a living on Etsy?</h3>
                    <p>
                        The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks
                        you where the name came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what
                        we do.If someone asks you where the name came from, just make something up. That's what we do.The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something
                        up. That's what we do.
                    </p>
                </div>
            </div>
            <div class="faq-divs">
                <div class="faq">
                    <h3 class="bold">How did Etsy get it's name?</h3>
                    <p>
                        The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.
                    </p>
                </div>
                <div class="faq">
                    <h3 class="bold">How did Etsy get it's name?</h3>
                    <p>
                        The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.
                    </p>
                </div>
                <div class="faq">
                    <h3 class="bold">How did Etsy get it's name?</h3>
                    <p>
                        The tru origin of the word "Etsy" is a mystery known only to our founders. If someone asks you where the name came from, just make something up. That's what we do.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear-both"></div>
<app-footer></app-footer>