<app-header></app-header>

<div class="err-container">
    <div class="err-container-core  w-control">
        <div class="row">
            <div class="col-xs-12">
                <h3 id="whoops">Whoops!</h3>
                <h4 id="se-ex">Something went wrong !</h4>
                <p class="err-para">Sorry ! Please try refreshing the page. If the problem still persists, please contact support at support@marketplace.com</p>
                <div class="back-arrow-div">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>